

#menu-h {
    list-style: none;
    padding: 0;
    background-color: rgb(67, 98, 155);
}

#menu-h li {

    display: inline-block;
}

#menu-h li a {

    color: white;
    padding: 20px;
    text-decoration: none;
    display: inline-block;

}

#menu-h li a:hover {

    background-color: darkmagenta;
}

footer {
    background-color: rgb(67, 98, 155);
    margin-top: auto;
    color: white;
    padding: 0.5em;
    
}

#div1{

    position: relative;
    display: inline-block;
    margin-left: 14px;
    width: auto;
    border: 2px solid white

}

#div2{
    display: inline-block;
    margin: 25px;
    width: auto;
    border: 2px solid white


}

#div3{
    display: inline-block;
    margin-right: 10px;
    width: auto;
    border: 2px solid white

}

.content{

    position:relative;
}

body{

    background-image: url('/Assets/nebulosa.png');
    color: white;
    font-style: oblique;
}

.legenda{

    position: absolute;
    left: 10px;
    bottom: 10px;
}